{{>layouts/header}}
<!--- action /articles/posts url로 던질 것이고 method은 post -->
<!--- ArticleController > postmapping과 동일한 url --->
<form class="container" action="/articles/posts" method="post">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <!--- title로 값 전달. name 속성 안에 Dto 필드명 삽입 -->
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <!--- name 속성 안에 Dto의 필드명 삽입 -->
        <textarea class="form-control" rows="3" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <!--- 리다이렉트 전체 조회페이지로 이동 기능 (a태그)--->
    <a href="/articles">back</a>
</form>
{{>layouts/footer}}