<div>
    이 페이지는 show입니다.
    {{#article}}
        {{id}} {{title}} {{content}}
    {{/article}}
    <!--이동기능 추가-->
    <a href="/articles/new">new article</a>
    <a href="/articles">list article</a>
</div>